@font-face {
  font-family: hack;
  src: url("../public/assets/font/hack.ttf");
}
* {
  font-family: hack, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1vw;
}

#__next {
  height: 100vh;
  overflow: hidden;
}
.layoutContainer,
.mainContainer,
.indexContainer {
  height: 100%;
}
.layoutContainer {
  overflow: hidden;
}
.mainContainer {
  padding: 0.5rem;
  overflow: hidden;
}
.indexContainer {
  border-radius: 0.25rem;
  border-style: solid;
  overflow: auto;
}
.inputContainer {
  display: flex;
  flex-direction: row;
}
#prompt {
  flex-grow: 1;
  margin-left: 0.5rem;
  outline: none;
  border: none;
}
.ps1 {
  display: flex;
}
.prevCommand {
  flex-grow: 1;
  margin-left: 0.5rem;
}
.historyDisplay {
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 0;
  font-size: 1.2rem;
}
label[for="prompt"],
.ps1Child {
  flex-shrink: 1;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff30;
  border-radius: 16vh;
}
a {
  color: currentColor;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}

.test {
  color: #14df9b;
}

.themeHover {
  position: relative;
}
.themeHover > span{
  cursor: pointer;
}
.themeHover > span:hover + .previewImage{
  display: block;
}
.previewImage {
  aspect-ratio: 16/9;
  width: 500px;
  object-fit: contain;
  position: absolute;
  display: none;
  pointer-events: none;
  z-index: 1;
  bottom: 100%;
  padding: 5px;
}

.previewImage > div{
  position: absolute;
  inset: 5px;
  border: 2px solid;
  padding: 5px;
}
.previewBanner{
  display: block;
  white-space: pre-wrap;
  font-size: 7px;
}
#asciiArt{
  display: block;
}
